<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Make A Goal</title>
  <% include ../partials/header.ejs %>

  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron">
      <div class="container">
        <h1>Your Goal Was Successfully Inserted!</h1>
      </div>
    </div>


  <div style="height:400px"></div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap/bootstrap.min.js"></script>
  </body>
</html>