<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
</head>
<body>
	<h1>Operation Result</h1>
	<p>To send a <b><%= letter %></b> with a weight of <b><%= original %> oz.</b> is: <b>$<%= result %></b></p>
</body>
</html>